Source: sflowtool
Section: unknown
Priority: extra
Maintainer: Zhang Dongya <fortitude.zhang@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf (>= 7), autoconf (>= 2.64), automake (>= 1.10) | automake1.10
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/sflowtool.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/sflowtool.git;a=summary

Package: sflowtool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
